body{
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    background-color: #608BC1;
    }
    
    body {
    font-family:"Poppins", sans-serif;
    background-color: #3498db;
    }
    
    header {
    background-color: #CBDCEB
    color: white;
    width: 80;
    padding: 20px;
    }
    
    titulo {
    padding: 20px;
    justify-self: center;
    width: 50%;
    font: 40%;
    }
    
    nav_ul_li_a {
    color: #3498db;
    text-decoration: none
    }
    
    nav_ul_li_a: :hover{
    color: #2980b9
    }
    
    home{
    padding: 20px;
    text-align: left;
    color: #fff;
    width: 50%;
    font: 40%;
    }
    
    home {
    padding: 50%;
    justify-self: center;
    color: #fff;
    width: 50%;
    font: 40%;
    }
    
    sobre-nos{
    padding: 20%;
    text-align: right;
    color: #fff;
    width: 50%;
    font: 40%;
    }
    
    contato {
    padding: 20%;
    text-align: right;
    color: #fff;
    width: 50%;
    font: 40;
    }
    
    rodape {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1 rem 0 ;
    font-size: 0.9 rem ;
    margin-top: 2 rem;
    }
